* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
}
@media (min-width: 1200px) {
  body {
    font-size: 24px;
  }
}
body.active {
  overflow: hidden;
}
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}
#overlay.active {
  display: block;
}
a,
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
:root {
  --btBg: #fbdc4d;
  --hover-after: #ea736d;
}
.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  background-image: url(../img/header/line-1.jpg);
  -moz-background-size: contain;
       background-size: contain;
  background-position: 0 0;
  background-repeat: repeat;
  overflow: hidden;
}
@media (min-width: 768px) {
  header {
    padding-bottom: 44px;
  }
}
@media (min-width: 1200px) {
  header {
    padding-bottom: 100px;
  }
}
.header-nav {
  max-width: 265px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}
@media (min-width: 475px) {
  .header-nav {
    max-width: 475px;
    margin-bottom: 79px;
  }
}
@media (min-width: 768px) {
  .header-nav {
    max-width: 685px;
  }
}
@media (min-width: 1200px) {
  .header-nav {
    max-width: 1400px;
    margin-bottom: 160px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1430px) {
  .header-nav {
    padding-left: 0;
    padding-right: 0;
  }
}
.header-logo {
  position: relative;
  z-index: 2;
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  line-height: 1.2;
  font-family: "M PLUS 1p", sans-serif;
}
.header-logo:hover {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header-logo::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: -5px;
  right: -5px;
  height: 7px;
  background-color: #fbdc4d;
  z-index: -1;
}
.header-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 19px;
  padding-top: 80px;
  max-width: 400px;
  width: 100%;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .header-menu {
    padding-left: 40px;
  }
}
@media (min-width: 1200px) {
  .header-menu {
    position: relative;
    max-width: unset;
    width: auto;
    display: block;
    padding-top: 0;
    padding-left: 0;
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.header-menu.active {
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
       -o-transform: translateX(0%);
          transform: translateX(0%);
}
@media (min-width: 768px) {
  .header-menu.active {
    padding-left: 20px;
    width: 325px;
  }
}
.header-menu__item {
  color: #000;
  font-weight: bold;
  font-size: 20px;
  border-bottom: 1px solid;
  width: 72px;
  margin-bottom: 28px;
  line-height: 22px;
}
.header-menu__item:first-child {
  padding-top: 39px;
  width: 81px;
}
.header-menu__item:nth-child(3) {
  width: 95px;
  margin-bottom: 45px;
}
@media (min-width: 768px) {
  .header-menu__item {
    padding: 0;
    margin: 0;
    width: 78px;
    margin-bottom: 30px;
  }
  .header-menu__item:first-child {
    width: 81px;
    padding-top: 35px;
  }
  .header-menu__item:nth-child(3) {
    width: 95px;
    margin-bottom: 46px;
  }
}
@media (min-width: 1200px) {
  .header-menu__item {
    padding-top: 0;
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-right: 75px;
    margin-bottom: 0;
    border: none;
  }
  .header-menu__item:last-child {
    margin-right: 0;
  }
}
.header-menu__item:last-child {
  margin-right: 0;
}
.header-menu__item::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 5px;
  left: -5px;
  width: 0;
  height: 5px;
  background-color: var(--btBg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.header-menu__item:hover::after {
  width: 110%;
}
.header-social {
  display: none;
}
@media (min-width: 1200px) {
  .header-social {
    max-width: 130px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    font-size: 20px;
    font-weight: bold;
  }
}
.header-social__item svg {
  fill: black;
  height: 25px;
  width: 25px;
  margin-right: 18px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.header-social-vk svg {
  margin-right: 0;
}
.header-social-in:hover svg {
  fill: #0077b5;
}
.header-social-git:hover svg {
  fill: #6cc644;
}
.header-social-vk:hover svg {
  fill: #45668e;
}
.toggle-menu {
  cursor: pointer;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 11;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  width: 40px;
  height: 3px;
  background-color: black;
  display: block;
  position: relative;
}
.toggle-menu span::before,
.toggle-menu span::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: black;
  left: 0;
}
.toggle-menu span::before {
  top: -10px;
}
.toggle-menu span::after {
  bottom: -10px;
}
.toggle-menu.active span {
  background-color: #fff;
}
.toggle-menu.active span::before {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}
.toggle-menu.active span::after {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}
.wrapper-header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 600px) {
  .wrapper-header-content {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .wrapper-header-content {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header-content-img-wrapper {
  position: relative;
  max-width: 460px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 58px;
}
@media (min-width: 768px) {
  .header-content-img-wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .header-content-img-wrapper {
    z-index: 2;
  }
}
.transparent {
  position: absolute;
  top: 75px;
  right: -75px;
  width: 474px;
  height: 410px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f4f8f9), to(rgba(244, 248, 249, 0.507)));
  background-image: -webkit-linear-gradient(bottom, #f4f8f9 0%, rgba(244, 248, 249, 0.507) 100%);
  background-image: -moz-linear-gradient(bottom, #f4f8f9 0%, rgba(244, 248, 249, 0.507) 100%);
  background-image: -o-linear-gradient(bottom, #f4f8f9 0%, rgba(244, 248, 249, 0.507) 100%);
  background-image: linear-gradient(to top, #f4f8f9 0%, rgba(244, 248, 249, 0.507) 100%);
  z-index: -1;
}
.header-content-about-me {
  max-width: 560px;
  z-index: 5;
}
.title-1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 30px;
  color: black;
}
@media (min-width: 768px) {
  .title-1 {
    font-size: 52px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .title-1 {
    font-size: 90px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 27px;
  }
}
.line-bottom-name {
  position: relative;
  z-index: 2;
}
.line-bottom-name::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -5px;
  right: -5px;
  height: 9px;
  background-color: #fbdc4d;
  z-index: -1;
}
@media (min-width: 1200px) {
  .line-bottom-name::after {
    bottom: 23px;
    height: 12px;
  }
}
.header-content-about-me-text {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 2px;
}
@media (min-width: 768px) {
  .header-content-about-me-text {
    letter-spacing: 2px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .header-content-about-me-text {
    line-height: 1.5;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 46px;
  }
}
.wrapper-header-links {
  display: none;
}
@media (min-width: 1200px) {
  .wrapper-header-links {
    display: block;
    height: 64px;
  }
}
.header-links-introduce {
  display: inline-block;
  z-index: 2;
  padding: 16px 44px;
  margin-right: 20px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background-color: #fbdc4d;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.header-links-introduce:hover {
  background-color: #fcd21b;
}
.header-links-introduce:active {
  background-color: #c5a515;
}
.header-links-contacts {
  display: inline-block;
  padding: 14px 35px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  border: 2px solid black;
  color: #464646;
  font-size: 22px;
  font-weight: bold;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.header-links-contacts:hover {
  border: 2px solid #797979;
  color: #797979;
}
.header-links-contacts:active {
  border: 2px solid #000;
  color: #000;
}
.header-img {
  margin-bottom: 74px;
  margin-top: 43px;
  -webkit-transform: scale(1.8);
     -moz-transform: scale(1.8);
      -ms-transform: scale(1.8);
       -o-transform: scale(1.8);
          transform: scale(1.8);
}
@media (min-width: 425px) {
  .header-img {
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
         -o-transform: scale(1.5);
            transform: scale(1.5);
    margin: 0;
  }
}
@media (min-width: 576px) {
  .header-img {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .header-img {
    margin-top: -31px;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 1200px) {
  .header-img {
    z-index: -1;
  }
}
.wrapper-skills-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}
@media (min-width: 768px) {
  .wrapper-skills-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin-bottom: 10px;
  }
}
@media (min-width: 1200px) {
  .wrapper-skills-contacts {
    padding-top: 70px;
    margin-top: -70px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 137px;
  }
}
.title-3 {
  font-size: 29px;
  font-weight: 800;
  color: #000;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .title-3 {
    font-size: 31px;
    margin-bottom: 23px;
  }
}
@media (min-width: 1200px) {
  .title-3 {
    font-size: 37px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .skills {
    max-width: 325px;
  }
}
@media (min-width: 1200px) {
  .skills {
    max-width: 610px;
  }
}
.skills-list {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .skills-list {
    margin-bottom: 44px;
  }
}
@media (min-width: 1200px) {
  .skills-list {
    font-size: 24px;
    margin-bottom: 50px;
  }
}
.skills-list span {
  display: none;
}
@media (min-width: 1200px) {
  .skills-list span {
    width: 17px;
    height: 0.8px;
    bottom: 5px;
    background-color: black;
    display: inline-block;
    position: relative;
  }
}
.skills-link {
  display: none;
}
@media (min-width: 1200px) {
  .skills-link {
    display: inline-block;
  }
}
.skills-list__item {
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .skills-list__item {
    margin-bottom: 0;
  }
}
.skills-link a {
  display: inline-block;
  padding: 15px 42px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background-color: #fbdc4d;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}
.skills-link a:hover {
  background-color: #fcd21b;
}
.skills-link a:active {
  background-color: #c5a515;
}
@media (min-width: 768px) {
  .contacts-header {
    max-width: 292px;
    width: 49%;
  }
}
@media (min-width: 1200px) {
  .contacts-header {
    max-width: 360px;
    width: 49%;
  }
}
.sotial-links-block__item img {
  height: 50px;
  width: 50px;
}
.sotial-links-block__item {
  margin-right: 21px;
}
.sotial-links-block__item:last-child {
  margin-right: 0px;
}
@media (min-width: 768px) {
  .sotial-links-block__item {
    margin-right: 19px;
  }
}
@media (min-width: 1200px) {
  .sotial-links-block__item {
    margin-right: 30px;
  }
  .sotial-links-block__item:last-child {
    margin-right: 0px;
  }
}
.sotial-links__git img:hover {
  -webkit-border-radius: 35px;
     -moz-border-radius: 35px;
          border-radius: 35px;
  -webkit-box-shadow: 0 0 10px 0 #0c080a inset, 0 0 10px 4px #2e2d2e;
     -moz-box-shadow: 0 0 10px 0 #0c080a inset, 0 0 10px 4px #2e2d2e;
          box-shadow: 0 0 10px 0 #0c080a inset, 0 0 10px 4px #2e2d2e;
  color: #313031;
}
.sotial-links__telegram img:hover {
  -webkit-border-radius: 35px;
     -moz-border-radius: 35px;
          border-radius: 35px;
  -webkit-box-shadow: 0 0 10px 0 #039be5 inset, 0 0 10px 4px #039be5;
     -moz-box-shadow: 0 0 10px 0 #039be5 inset, 0 0 10px 4px #039be5;
          box-shadow: 0 0 10px 0 #039be5 inset, 0 0 10px 4px #039be5;
  color: #039be5;
}
.sotial-links__vk img:hover {
  -webkit-border-radius: 35px;
     -moz-border-radius: 35px;
          border-radius: 35px;
  -webkit-box-shadow: 0 0 10px 0 #4d76a1 inset, 0 0 10px 4px #4d76a1;
     -moz-box-shadow: 0 0 10px 0 #4d76a1 inset, 0 0 10px 4px #4d76a1;
          box-shadow: 0 0 10px 0 #4d76a1 inset, 0 0 10px 4px #4d76a1;
  color: #4d76a1;
}
.sotial-links__facebook img:hover {
  -webkit-border-radius: 35px;
     -moz-border-radius: 35px;
          border-radius: 35px;
  -webkit-box-shadow: 0 0 10px 0 #3b5998 inset, 0 0 10px 4px #3b5998;
     -moz-box-shadow: 0 0 10px 0 #3b5998 inset, 0 0 10px 4px #3b5998;
          box-shadow: 0 0 10px 0 #3b5998 inset, 0 0 10px 4px #3b5998;
  color: #3b5998;
}
.sotial-links-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  z-index: -1;
}
@media (min-width: 768px) {
  .sotial-links-block {
    margin-bottom: 29px;
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
  .sotial-links-block {
    margin-bottom: 30px;
  }
}
.contacts-header-mail {
  font-size: 18px;
  max-width: 196px;
  border-bottom: 1px solid;
  color: #039be5;
}
.contacts-header-mail:active {
  color: #ea736d;
}
@media (min-width: 768px) {
  .contacts-header-mail {
    max-width: 218px;
    font-size: 20px;
  }
  .contacts-header-mail:active {
    color: #ea736d;
  }
}
@media (min-width: 1200px) {
  .contacts-header-mail {
    color: #000;
    max-width: 260px;
    font-size: 22px;
    font-weight: bold;
  }
  .contacts-header-mail:hover {
    color: #6cb9ec;
  }
  .contacts-header-mail:active {
    color: #ea736d;
  }
}
.mobile-menu-contacts,
.mobile-logo {
  display: block;
}
@media (min-width: 1200px) {
  .mobile-menu-contacts,
  .mobile-logo {
    display: none;
  }
}
.mobile-logo {
  position: absolute;
  top: 29px;
  left: 19px;
}
.section-portfolio {
  padding-top: 46px;
  padding-bottom: 95px;
}
@media (min-width: 768px) {
  .section-portfolio {
    padding-top: 16px;
    padding-bottom: 80px;
    background-color: #FFF;
  }
}
@media (min-width: 1200px) {
  .section-portfolio {
    background-color: #f4f8f9;
    padding-top: 97px;
    padding-bottom: 24px;
  }
}
.title-2 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .title-2 {
    font-size: 52px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .title-2 {
    font-size: 64px;
    margin-bottom: 47px;
  }
}
.line-bottom-name-title2::after {
  height: 10px;
  bottom: 11px;
}
@media (min-width: 768px) {
  .line-bottom-name-title2::after {
    height: 10px;
    bottom: 14px;
  }
}
@media (min-width: 1200px) {
  .line-bottom-name-title2::after {
    height: 10px;
    bottom: 17px;
  }
}
.line-bottom-name--title-6 {
  position: relative;
}
.line-bottom-name--title-6::after {
  display: none;
}
@media (min-width: 992px) {
  .line-bottom-name--title-6::after {
    display: block;
    position: absolute;
    content: "";
    height: 6px;
    bottom: 3px;
    height: 7px;
    background-color: #fbdc4d;
  }
}
.section-portfolio-links {
  display: none;
}
@media (min-width: 768px) {
  .section-portfolio-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 45px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio-links {
    margin-bottom: 45px;
  }
}
@media (min-width: 768px) {
  .portfolio-links__item {
    font-size: 24px;
    font-weight: 800;
    color: #8fa5ae;
  }
}
@media (min-width: 1200px) {
  .portfolio-links__item {
    font-size: 28px;
    font-weight: 800;
  }
  .portfolio-links__item:hover,
  .portfolio-links__item :active {
    color: #ed574f;
  }
}
@media (min-width: 768px) {
  .portfolio-links__item strong {
    color: #000;
  }
}
@media (min-width: 1200px) {
  .portfolio-links__item strong:active {
    font-size: 28px;
    font-weight: 800;
  }
}
.portfolio-projects-card-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .portfolio-projects-card-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .portfolio-projects-card-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}
.portfolio-projects-card {
  max-width: 555px;
}
@media (min-width: 768px) {
  .portfolio-projects-card {
    max-width: 340px;
  }
}
@media (min-width: 1200px) {
  .portfolio-projects-card {
    max-width: 555px;
  }
}
.title-4 {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #000;
  line-height: 1.3;
}
@media (min-width: 768px) {
  .title-4 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-4 {
    font-size: 32px;
    border-bottom: 1.5px solid transparent;
  }
  .title-4:hover {
    color: #ed574f;
    border-bottom: 1.5px solid #ed574f;
  }
}
.title-5 {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  color: #000;
  margin: 0;
}
@media (min-width: 768px) {
  .title-5 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-5 {
    font-size: 26px;
    margin: 0;
  }
}
.portfolio-card-desk {
  margin-top: 27px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .portfolio-card-desk {
    margin-top: 30px;
    margin-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .portfolio-card-desk {
    margin-top: 23px;
    margin-bottom: 56px;
  }
}
.section-portfolio p {
  font-size: 16px;
  font-weight: 300;
}
@media (min-width: 768px) {
  .section-portfolio p {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .section-portfolio p {
    font-size: 22px;
  }
}
.see-all-works a {
  font-size: 20px;
  font-weight: 400;
  color: #039be5;
  border-bottom: 1px solid #039be5;
}
@media (min-width: 1200px) {
  .see-all-works a {
    display: none;
  }
}
.card-link-button {
  display: block;
  position: relative;
  overflow: hidden;
}
.card-link-button::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(245, 221, 102, 0.85);
  -webkit-transform: translateY(100%);
     -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
       -o-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.card-link-button:hover::before {
  -webkit-transform: translateY(0%);
     -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
       -o-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.card-link-button:hover .more-btn {
  opacity: 1;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.card-link-button .more-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 54px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fff;
  color: #ea736d;
  border: none;
  font-weight: 800;
  font-size: 22px;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.card-link-button .more-btn:hover {
  background-color: #ea736d;
  color: #fff;
}
.card-link-button .more-btn:active {
  background-color: #d4423b;
  color: #fff;
}
.more-btn {
  padding-top: 10px;
}
.section-work {
  max-width: 1005px;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 55px;
}
@media (min-width: 768px) {
  .section-work {
    padding-top: 75px;
    padding-bottom: 75px;
  }
}
@media (min-width: 1200px) {
  .section-work {
    background-image: url(/img/section-work/bg-work.jpg);
    padding-top: 130px;
    padding-bottom: 130px;
  }
}
.icon-work-block {
  width: 75px;
  height: 75px;
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-border-radius: 28px;
     -moz-border-radius: 28px;
          border-radius: 28px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
@media (min-width: 768px) {
  .work-block__item:nth-child(2n+1) .icon-work-block {
    -webkit-transform: translateX(50%);
       -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
         -o-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@media (min-width: 768px) {
  .work-block__item:nth-child(2n) .icon-work-block {
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.work-block__item:nth-child(2n)::before {
  left: -2px;
}
.work-block__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 25px;
  min-height: 150px;
}
.work-block__item:hover .icon-work-block {
  -webkit-box-shadow: 0 0 1px #fbdc4d, 0 0 40px #fbdc4d, 0 0 80px #fbdc4d;
     -moz-box-shadow: 0 0 1px #fbdc4d, 0 0 40px #fbdc4d, 0 0 80px #fbdc4d;
          box-shadow: 0 0 1px #fbdc4d, 0 0 40px #fbdc4d, 0 0 80px #fbdc4d;
}
@media (min-width: 768px) {
  .work-block__item {
    max-width: 50%;
  }
}
@media (min-width: 768px) {
  .work-block__item::before {
    position: absolute;
    content: "";
    width: 4px;
    bottom: 0;
    top: 90px;
    left: 36px;
    background-color: #e1eef4;
  }
}
.work-block__item:last-child::before {
  display: none;
}
.work-block__item:first-child::after {
  content: "";
  position: absolute;
  right: 0;
  top: -90px;
  height: 70px;
  width: 4px;
  background-color: #e1eef4;
  display: none;
}
@media (min-width: 768px) {
  .work-block__item:first-child::after {
    display: block;
  }
}
.title-2-work {
  min-width: 309px;
  text-align: center;
  margin-bottom: 40px;
  font-size: 38px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .title-2-work {
    margin-bottom: 150px;
    font-size: 52px;
  }
}
@media (min-width: 1200px) {
  .title-2-work {
    font-size: 64px;
    margin-bottom: 134px;
  }
}
@media (min-width: 768px) {
  .work-block__item:nth-child(2n) {
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .work-block__item:nth-child(2n+1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: right;
  }
}
.work-block__item:nth-child(2n+1)::before {
  left: auto;
  right: 0;
}
.title-6 {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .title-6 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .title-6 {
    font-size: 26px;
  }
}
.icon-work-block svg {
  width: 40px;
  height: 40px;
}
@media (min-width: 1200px) {
  .text-work-block p {
    padding: 5px 0 5px;
  }
}
.text-work-block {
  padding-left: 20px;
}
.text-work-block-time {
  font-size: 14px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .text-work-block-time {
    font-size: 18px;
  }
}
.section-contacts {
  padding-top: 52px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section-contacts {
    background: #f4f8f9;
    padding-top: 80px;
    padding-bottom: 90px;
  }
}
@media (min-width: 1200px) {
  .section-contacts {
    background-image: url(/img/contacts/bg1-contacts.jpg);
    padding-top: 140px;
    padding-bottom: 150px;
  }
}
.title-2-contacts {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 800;
}
@media (min-width: 768px) {
  .title-2-contacts {
    margin-bottom: 52px;
  }
}
@media (min-width: 1200px) {
  .title-2-contacts {
    margin-bottom: 54px;
  }
}
.section-contacts-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
@media (min-width: 768px) {
  .section-contacts-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .section-contacts-content {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
}
.contacts-text-wrapper p {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400px;
  padding-bottom: 18px;
}
@media (min-width: 768px) {
  .contacts-text-wrapper p {
    font-size: 18px;
    line-height: 28px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .contacts-text-wrapper p {
    max-width: 500px;
    font-size: 20px;
    line-height: 32px;
    padding-top: 22px;
    padding-bottom: 40px;
  }
}
.contacts-text-wrapper {
  z-index: 1;
}
@media (min-width: 768px) {
  .contacts-text-wrapper {
    width: 50%;
  }
}
.contacts-section-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .contacts-section-list__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 22px;
  }
}
.contacts-list-item-name {
  font-size: 18px;
  font-weight: bold;
}
@media (min-width: 1200px) {
  .contacts-list-item-name {
    width: 200px;
    font-size: 20px;
  }
}
.contacts-list-item-link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #039be5;
}
@media (min-width: 1200px) {
  .contacts-list-item-link {
    width: 270px;
    font-size: 20px;
  }
}
.contacts-section-list__item--color {
  color: #96969d;
}
.contacts-section-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 27px;
}
@media (min-width: 1200px) {
  .contacts-section-list {
    margin-bottom: 23px;
  }
}
@media (min-width: 1200px) {
  .section-contacts::before {
    position: absolute;
    bottom: 4%;
    right: 63%;
    content: "";
    display: block;
    width: 453px;
    height: 308px;
    background-image: url(/img/contacts/bg-contacts.png);
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.form-wrapper {
  margin-top: 50px;
  max-width: 600px;
}
@media (min-width: 768px) {
  .form-wrapper {
    margin-top: 0;
  }
}
.contact-form {
  padding: 39px 10px 40px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 28px 40px 0px rgba(194, 219, 235, 0.4);
     -moz-box-shadow: 0px 28px 40px 0px rgba(194, 219, 235, 0.4);
          box-shadow: 0px 28px 40px 0px rgba(194, 219, 235, 0.4);
}
@media (min-width: 768px) {
  .contact-form {
    padding: 48px 10px 40px;
    width: 339px;
  }
}
@media (min-width: 1200px) {
  .contact-form {
    padding: 48px 58px 40px;
    width: 517px;
  }
}
.contact-form__item {
  position: relative;
  width: 100%;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .contact-form__item {
    margin-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .contact-form__item {
    margin-bottom: 32px;
  }
}
.contact-form__item input,
.contact-form__item textarea {
  width: 100%;
  display: block;
  height: 51px;
  border: 0px;
  border-bottom: 1px solid #cfcfcf;
  max-width: 388px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  outline: none;
}
@media (min-width: 768px) {
  .contact-form__item input,
  .contact-form__item textarea {
    height: 75px;
  }
}
.contact-form__item textarea {
  padding: 5px;
  resize: none;
  height: 125px;
}
@media (min-width: 768px) {
  .contact-form__item textarea {
    height: 131px;
  }
}
@media (min-width: 1200px) {
  .contact-form__item textarea {
    height: 146px;
  }
}
.contact-form__item:last-child {
  margin-bottom: 0;
}
.fake-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: #bcbcbc;
  position: absolute;
  top: 14px;
  left: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
@media (min-width: 768px) {
  .fake-placeholder {
    top: 14px;
  }
}
@media (min-width: 1200px) {
  .fake-placeholder {
    top: 28px;
    left: 15px;
  }
}
.fake-placeholder.active {
  color: #ed9626;
  top: -15px;
  font-size: 16px;
  pointer-events: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
  background-color: #fff;
}
@media (min-width: 1200px) {
  .fake-placeholder.active {
    top: 0;
    left: 5px;
  }
}
.contact-form__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1200px) {
  .contact-form__btn {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.send-form {
  background-color: #fbdc4d;
  border: none;
  height: 54px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.send-form:hover {
  background-color: #fcd21b;
}
.send-form:active {
  background-color: #c5a515;
}
@media (min-width: 768px) {
  .send-form {
    max-width: 290px;
  }
}
@media (min-width: 1200px) {
  .send-form {
    height: 64px;
    max-width: 200px;
  }
}
.error {
  color: #fbdc4d;
  font-size: 14px;
  position: relative;
}
.footer-section {
  padding-top: 22px;
  padding-bottom: 38px;
  background-color: #333333;
}
.footer-title {
  color: #FFF;
  font-size: 16px;
  padding-bottom: 15px;
}
.footer-text {
  color: #959595;
  font-size: 16px;
  line-height: 26px;
}
/*# sourceMappingURL=main.css.map */