* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #000;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
}
@media (min-width: 1200px) {
  body {
    font-style: 24px;
  }
}
#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}
#overlay.active {
  display: block;
}
a,
a:hover {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
button,
input {
  outline: none;
}
button {
  cursor: pointer;
}
:root {
  --btBg: #fbdc4d;
  --hover-after: #ea736d;
}
.container {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 100px;
  background-image: url(../img/header/line-1.jpg);
  -moz-background-size: contain;
       background-size: contain;
  background-position: 0 0;
  background-repeat: repeat;
  overflow: hidden;
}
.header-nav {
  max-width: 265px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}
@media (min-width: 475px) {
  .header-nav {
    max-width: 475px;
    margin-bottom: 79px;
  }
}
@media (min-width: 768px) {
  .header-nav {
    max-width: 685px;
  }
}
@media (min-width: 1200px) {
  .header-nav {
    max-width: 1400px;
    margin-bottom: 160px;
  }
}
@media (min-width: 1430px) {
  .header-nav {
    padding-left: 0;
    padding-right: 0;
  }
}
.header-logo {
  position: relative;
  z-index: 2;
  font-size: 42px;
  font-weight: 900;
  color: #000000;
  line-height: 1.2;
  font-family: "M PLUS 1p", sans-serif;
}
.header-logo::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: -5px;
  right: -5px;
  height: 7px;
  background-color: #fbdc4d;
  z-index: -1;
}
.header-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #FFF;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 40px;
  padding-top: 80px;
  max-width: 400px;
  width: 100%;
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 1200px) {
  .header-menu {
    position: relative;
    max-width: unset;
    width: auto;
    display: block;
    padding-top: 0;
    padding-left: 0;
    -webkit-transform: translateX(0%);
       -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
         -o-transform: translateX(0%);
            transform: translateX(0%);
  }
}
.header-menu.active {
  -webkit-transform: translateX(0%);
     -moz-transform: translateX(0%);
      -ms-transform: translateX(0%);
       -o-transform: translateX(0%);
          transform: translateX(0%);
}
.header-menu__item {
  margin-bottom: 36px;
}
@media (min-width: 768px) {
  .header-menu__item {
    margin-bottom: 36px;
  }
}
@media (min-width: 1200px) {
  .header-menu__item {
    position: relative;
    z-index: 2;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-right: 75px;
    margin-bottom: 0;
  }
}
.header-menu__item:last-child {
  margin-right: 0;
}
.header-menu__item::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 5px;
  left: 0;
  width: 0;
  height: 5px;
  background-color: var(--btBg);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
.header-menu__item:hover::after {
  width: 100%;
}
.header-social {
  display: none;
}
@media (min-width: 1200px) {
  .header-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-size: 20px;
    font-weight: bold;
  }
}
.header-social__item svg {
  fill: black;
  height: 25px;
  width: 25px;
  margin-right: 18px;
}
.header-social-vk svg {
  margin-right: 0;
}
.header-social-in:hover svg {
  fill: #0077b5;
}
.header-social-git:hover svg {
  fill: #6cc644;
}
.header-social-vk:hover svg {
  fill: #45668e;
}
.toggle-menu {
  cursor: pointer;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 11;
}
@media (min-width: 1200px) {
  .toggle-menu {
    display: none;
  }
}
.toggle-menu span {
  width: 40px;
  height: 3px;
  background-color: black;
  display: block;
  position: relative;
}
.toggle-menu span::before,
.toggle-menu span::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: black;
  left: 0;
}
.toggle-menu span::before {
  top: -10px;
}
.toggle-menu span::after {
  bottom: -10px;
}
.toggle-menu.active span {
  background-color: #FFF;
}
.toggle-menu.active span::before {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}
.toggle-menu.active span::after {
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}
.wrapper-header-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 600px) {
  .wrapper-header-content {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .wrapper-header-content {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
       -moz-box-orient: horizontal;
       -moz-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header-content-img-wrapper {
  max-width: 460px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 58px;
}
@media (min-width: 768px) {
  .header-content-img-wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 0;
  }
}
.header-content-about-me {
  max-width: 560px;
}
.title-1 {
  font-size: 42px;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 30px;
  color: black;
}
@media (min-width: 768px) {
  .title-1 {
    font-size: 52px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .title-1 {
    font-size: 90px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 27px;
  }
}
.line-bottom-name {
  position: relative;
  z-index: 2;
}
.line-bottom-name::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: -5px;
  right: -5px;
  height: 9px;
  background-color: #fbdc4d;
  z-index: -1;
}
@media (min-width: 1200px) {
  .line-bottom-name::after {
    bottom: 23px;
    height: 12px;
  }
}
.header-content-about-me-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .header-content-about-me-text {
    letter-spacing: 2px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .header-content-about-me-text {
    line-height: 1.5;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 46px;
  }
}
.wrapper-header-links {
  display: none;
}
@media (min-width: 1200px) {
  .wrapper-header-links {
    display: block;
  }
}
.header-links-introduce {
  z-index: 2;
  padding: 12px 44px;
  margin-right: 20px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background-color: #fbdc4d;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}
.header-links-introduce:hover {
  background-color: #fcd21b;
}
.header-links-introduce:active {
  background-color: #c5a515;
}
.header-links-contacts {
  padding: 12px 35px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  border: 2px solid black;
  color: #464646;
  font-size: 22px;
  font-weight: bold;
}
.header-links-contacts:hover {
  border: 2px solid #797979;
  color: #797979;
}
.header-links-contacts:active {
  border: 2px solid #000;
  color: #000;
}
.header-img {
  margin-bottom: 74px;
  margin-top: 43px;
  -webkit-transform: scale(1.8);
     -moz-transform: scale(1.8);
      -ms-transform: scale(1.8);
       -o-transform: scale(1.8);
          transform: scale(1.8);
}
@media (min-width: 425px) {
  .header-img {
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
         -o-transform: scale(1.5);
            transform: scale(1.5);
    margin: 0;
  }
}
@media (min-width: 576px) {
  .header-img {
    -webkit-transform: scale(1.2);
       -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
         -o-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@media (min-width: 768px) {
  .header-img {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
  }
}
@media (min-width: 1200px) {
  .header-img {
    margin-bottom: 38px;
    z-index: -1;
  }
}
.wrapper-skills-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 768px) {
  .wrapper-skills-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .wrapper-skills-contacts {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.title-3 {
  font-size: 32px;
  font-weight: 800;
  color: #000;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .title-3 {
    font-size: 32px;
    margin-bottom: 15px;
  }
}
@media (min-width: 1200px) {
  .title-3 {
    font-size: 40px;
    margin-bottom: 30px;
  }
}
.skills-list {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .skills-list {
    margin-bottom: 44px;
  }
}
@media (min-width: 1200px) {
  .skills-list {
    font-size: 24px;
    margin-bottom: 61px;
  }
}
.skills-list span {
  display: none;
}
@media (min-width: 1200px) {
  .skills-list span {
    width: 17px;
    height: 0.8px;
    bottom: 5px;
    background-color: black;
    display: inline-block;
    position: relative;
  }
}
.skills-link {
  display: none;
}
@media (min-width: 1200px) {
  .skills-link {
    display: inline-block;
  }
}
.skills-list__item {
  margin-bottom: 15px;
}
@media (min-width: 1200px) {
  .skills-list__item {
    margin-bottom: 0;
  }
}
.skills-link a {
  padding: 15px 42px;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background-color: #fbdc4d;
  color: #000;
  font-size: 22px;
  font-weight: bold;
}
.skills-link a:hover {
  background-color: #fcd21b;
}
.skills-link a:active {
  background-color: #c5a515;
}
.contacts-header {
  margin-right: 91px;
}
.sotial-links-block__item img {
  height: 50px;
  width: 50px;
}
.sotial-links-block__item {
  margin-right: 19px;
}
.sotial-links-block__item:last-child {
  margin-right: 0;
}
.sotial-links-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .sotial-links-block {
    margin-bottom: 27px;
  }
}
@media (min-width: 1200px) {
  .sotial-links-block {
    margin-bottom: 30px;
  }
}
.contacts-header-mail {
  font-size: 18px;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .contacts-header-mail {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .contacts-header-mail {
    font-size: 24px;
  }
}
/*# sourceMappingURL=main.css.map */