.footer-section {
    padding-top: 22px;
    padding-bottom: 38px;
    background-color: #333333;
    
}
.footer-title {
    color: #FFF;
    font-size: 16px;
    padding-bottom: 15px;
    @media(min-width:768px) {
        
    }
    @media(min-width:1200px ) {
        
    }
}
.footer-text {
    color: #959595;
    font-size: 16px;
    line-height: 26px;
    @media(min-width:768px) {
    
    }
    @media(min-width:1200px ) {
    
    }
}