.section-work {
    max-width: 1005px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 55px;
    @media(min-width:768px) {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    @media(min-width:1200px ) {
        background-image: url(/img/section-work/bg-work.jpg);
        padding-top: 130px;
        padding-bottom: 130px;
    }
}
.icon-work-block {
    width: 75px;
    height: 75px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    flex-shrink: 0;
}
.work-block__item:nth-child(2n+1) .icon-work-block {
    @media(min-width:768px) {
        transform: translateX(50%);
    }
}
.work-block__item:nth-child(2n) .icon-work-block {
    @media(min-width:768px) {
        transform: translateX(-50%);
    }
}
.work-block__item:nth-child(2n)::before {
    left: -2px;
}
.work-block__item {
    display: flex;
    position: relative;
    padding-bottom: 25px;
    margin-bottom: 25px;
    min-height: 150px;
    &:hover {
        .icon-work-block {
        box-shadow: 0 0 1px #fbdc4d, 0 0 40px #fbdc4d, 0 0 80px #fbdc4d;
        }
    }
    @media(min-width:768px) {
        max-width: 50%;
    }
}
.work-block__item::before {
    @media(min-width:768px) {
        position: absolute;
        content: "";
        width: 4px;
        bottom: 0;
        top: 90px;
        left: 36px;
        background-color: #e1eef4; 
    }
}
.work-block__item:last-child::before {
    display: none;
}
.work-block__item:first-child::after {
    content: "";
    position: absolute;
    right: 0;
    top: -90px;
    height: 70px;
    width: 4px;
    background-color: #e1eef4;
    display: none;
    @media(min-width:768px) {
        display: block;        
    }
}

.title-2-work {
    min-width: 309px;
    text-align: center;
    margin-bottom: 40px;
    font-size: 38px;
    font-weight: 800;
    @media(min-width:768px) {
        margin-bottom: 150px;
        font-size: 52px;  
    }
    @media(min-width:1200px ) {
        font-size: 64px;
        margin-bottom: 134px;
    }
}
.work-block__item:nth-child(2n) {
    @media(min-width:768px) {
        margin-left: auto;
    }
}
.work-block__item:nth-child(2n+1) {
    @media(min-width:768px) {
        flex-direction: row-reverse;
        text-align: right;
    }
}
.work-block__item:nth-child(2n+1)::before {
    left: auto;
    right: 0;
}

.title-6 {
    margin: 0;
    font-size: 20px;
    font-weight: 800;
    @media(min-width:768px) {
        font-size: 24px;
    }
    @media(min-width:1200px ) {
        font-size: 26px;
    }
}

.icon-work-block svg {
    width: 40px;
    height: 40px;
}
.text-work-block p {
    @media(min-width:1200px ) {
        padding: 5px 0 5px;
    }
}
.text-work-block {
    padding-left: 20px;
}
.text-work-block-time {
    font-size: 14px;
    font-weight: bold;
    @media(min-width:768px) {
        font-size: 18px;
    }
}
