.section-portfolio {
    padding-top: 46px;
    padding-bottom: 95px;
    @media(min-width: 768px) {
        padding-top: 16px;
        padding-bottom: 80px;
        background-color: #FFF;
    }
    @media(min-width:1200px ) {
        background-color: #f4f8f9; 
        padding-top: 97px;
        padding-bottom: 120px;
    }
}
.title-2 {
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 40px;
    @media(min-width: 768px) {
        font-size: 52px;
        margin-bottom: 40px;
    }
    @media(min-width:1200px ) {
        font-size: 64px;
        margin-bottom: 47px;
    }
}
.line-bottom-name-title2::after {
    height: 10px;
    bottom: 11px;
    @media(min-width: 768px) {
        height: 10px;
        bottom: 14px;
    }
    @media(min-width:1200px ) {
        height: 10px;
        bottom: 17px;
    }
}
.section-portfolio-links {
    display: none;
    @media(min-width: 768px) {
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
    }
    @media(min-width:1200px ) {
        margin-bottom: 45px;
    }
}
.section-portfolio-links li {

    @media(min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        margin-right: 45px;
        &:last-child {
            margin-right: 0;
        }
    }
    @media(min-width:1200px ) {
        margin-right: 75px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.portfolio-links__item {
    @media(min-width: 768px) {
        font-size: 24px;
        font-weight: 800;
        color: #8fa5ae;
    }
    @media(min-width:1200px ) {
        font-size: 28px;
        font-weight: 800;
        &:hover, :active {
            color: #ed574f;
        }
    }
}
.portfolio-links__item strong {
    @media(min-width: 768px) {
        color: #000;
    }
    @media(min-width:1200px ) {
        &:active {
            font-size: 28px;
            font-weight: 800;
        }
    }
}
.wrapper-big-card {
    display: flex;
    flex-direction: column;
    @media(min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
    @media(min-width:1200px ) {
        
    }
}
.first-big-card, .second-big-card {
    @media(min-width: 768px) {
    max-width: 340px;
    }
    @media(min-width: 992px) {
        max-width: 450px;
    }
    @media(min-width:1200px ) {
      
        max-width: 555px;
    }
}
.title-4 {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    @media(min-width: 768px) {
        font-size: 24px;
    }
    @media(min-width:1200px ) {
       font-size: 32px; 
       &:hover {
            border-bottom: 1.5px solid #ed574f;
       }
        
    }
}
.title-5 {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: #000;
    margin: 0;
    @media(min-width: 768px) {
        font-size: 24px;
        
    }
    @media(min-width:1200px ) {
       font-size: 26px;
       margin: 0;
    }
}
.little-card-item .portfolio-card-desk p {

    @media(min-width:768px) {
    
    }
    @media(min-width:1200px ) {
    font-size: 20px;
    }  

}
.portfolio-card-desk {
    margin-top: 27px;
    margin-bottom: 40px;
    @media(min-width:768px) {
        margin-top: 30px;
        margin-bottom: 36px;
        
    }
    @media(min-width:1200px ) {
        margin-top: 23px;
        margin-bottom: 56px;
    }
}
.section-portfolio p {
    font-size: 16px;
    font-weight: 300;
    @media(min-width: 768px) {
        font-size: 18px;
    }
    @media(min-width:1200px ) {
        font-size: 22px;  
    }
}
.wrapper-little-card {
    display: flex;
    flex-direction: column;
    @media(min-width:576px) {
        align-items: center;
    }
    @media(min-width:768px) {
    flex-direction: row;
    justify-content: space-between;
    }
    @media(min-width:900px) {
        justify-content: space-around;
    }
    @media(min-width:1200px ) {
        justify-content: space-between; 
    }
}
.little-card-item {
    max-width: 340px;
    @media(min-width:768px) {
        
    }
    @media(min-width: 992px) {
        
    }
    @media(min-width:1200px ) {
        max-width: 360px;
    }
}
.hide-card {
    display: block;
    @media(min-width:768px) {
    display: none;
    }
    @media(min-width:1200px ) {
    display: block;
    }
}
.see-all-works a {
    font-size: 20px;
    font-weight: 400;
    color: #039be5;
    border-bottom: 1px solid #039be5;
    @media(min-width:576px) {
    
    }
    @media(min-width:768px) {
    
    }
    @media(min-width:1200px ) {
    display: none;
    }
}
.card-link-button {
    display: block;
    position: relative;
    overflow: hidden;
}
.card-link-button::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(245, 221, 102, 0.85);
    transform: translateY(100%);
    transition: 0.5s;
}
.card-link-button:hover::before {
    transform: translateY(0%);
    transition: 0.5s;
}
.card-link-button:hover .more-btn {
    opacity: 1;
    transition: 0.5s;
}
.card-link-button .more-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 54px;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #fff;
    color: #ea736d;
    border: none;
    font-weight: 800;
    font-size: 22px;
    opacity: 0;
    transition: 0.5s;
    &:hover {
        background-color: #ea736d;
        color: #fff;
    }
    &:active {
        background-color: #d4423b;
        color: #fff;
    }
    @media(min-width:768px) {
    
    }
    @media(min-width:1200px ) {
        
    }
}
.little-card-item .portfolio-card-desk {
    
    @media(min-width:768px) {
    
    }
    @media(min-width:1200px ) {
    
    }
}